@import 'tailwindcss';

:root {
  --white: #F9F4F5;
  --dark: #00120B;
  --grey: #6B818C;
  --dark-green: #35605A;
  --green: #31E981;
  --lavender: #D8E4FF;
  --gold: #FFD700;

  --card-shadow: rgba(53, 96, 90, 0.55) -4px 5px 5.5px 0px;
}

@layer base {
  body {
    background-color: var(--white);
    color: var(--dark);
    font-family: var(--font-roboto), sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  h1 {
    @apply font-serif text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold;
    font-family: var(--font-playfair), serif;
  }

  input,
  input::placeholder {
    color: var(--dark-green);
    font-weight: 500;
  }
}

@layer components {
  .bg-logo {
    background-color: #ffffff;
  }

  .bg-lavender {
    background-color: var(--lavender);
    opacity: 0.8;
  }

  .focus-green {
    @apply focus:outline-none focus:ring-2 focus:ring-[color:var(--green)];
  }

  .link-footer {
    @apply text-xs md:text-sm text-center md:px-1
    hover:text-[color:var(--dark-green)] hover:underline hover:font-[weight:500] hover:transition-all;
    }
  
  .card {
    @apply bg-white border border-[color:var(--grey)] shadow-[var(--card-shadow)] rounded-xl mx-auto w-[80%];
  }

  .card-image {
    @apply relative w-full h-48 overflow-hidden rounded-t-xl mb-4
  }

  .card-tag {
    @apply text-sm font-black py-2 px-1 text-[color:var(--dark-green)] md:text-sm md:bg-[var(--lavender)] md:px-2 md:py-1 md:rounded-full md:text-[color:var(--dark)] md:mx-1 md:my-2;
  }

  .carousel-container {
    @apply relative w-full h-[calc(100vh-64px)] px-12 mx-auto;
  }

  .carousel-animation {
    @apply transition-all duration-300 ease-in-out;
  }
}